# Ignore build outputs
bin/
obj/

# Ignore user-specific files
*.user
*.suo

# Ignore logs
*.log

# VS Code settings
.vscode/

# ASP.NET secrets
secrets.json

# macOS system file
.DS_Store

# Draw.io backup
*.drawio.bkp


